@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap');

/* 
font-family: 'Inter', sans-serif;
extra light 200, light 300, medium 500, bold 700
 */

body {
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: white;
}
.mobile-only {
    display: none;
}


/* --------- TOP NAVIGATION MENU --------- */

/* cancel out default hamburger menu styling */
button.navbar-toggler { border: 0; }
button.navbar-toggler:focus { outline: none; box-shadow: none; }

/* add custom hamburger menu with transition onclick */
a#menu-icon { display: inline-block; }
a#menu-icon .bar {
    margin: 5px;
    width: 25px;
    height: 2px;
    background: white;
    border-radius: 1.5px;
    transition: margin 0.25s ease-out, transform 0.25s ease-out;
}
#menu-icon.close .bar:first-child {
    transform: translateY(7px) rotate(45deg); /* margin plus height */
}
#menu-icon.close .bar:nth-child(2) {
    opacity: 0;
}
#menu-icon.close .bar:last-child {
    transform: translateY(-7px) rotate(-45deg);
}

/* navbar styling */
.navbar-nav .nav-link {
    color: white;
}
.navbar .navbar-brand {
    font-size: 1.563rem;
}
.navbar-brand .flip-item:nth-child(2) { /* MAKE SURE SAME AS ABOVE */
    font-size: 1.563rem;
}
.navbar.bg-dark { background-color: rgba(0, 0, 0, 0.80) !important; }
.navbar {
    height: 86px;
    padding: 0;
}
div.container-fluid {
    padding: 0 92px 0 92px;
}

.navbar ul.navbar-nav {
    gap: 2.2rem;
    font-size: 1.125rem;
}

@media (max-width: 1024px) { /* on desktop/tablet, adjust padding with smaller screens */
    div.container-fluid {
        padding: 0 35px 0 35px;
    }
    .navbar ul.navbar-nav {
        gap: 1.3rem;
    }
}

/* --------- 'FLIP' HOVER ANIMATION --------- */
.flip-contain {
    position: relative;
    height: 1.7rem; /* Adjust based on content height */
    overflow: hidden;
    display: inline-block;
}
.flip-contain.navbar-brand { height: 2rem; } 

@media only screen and (min-width: 768px) { /* static widths on large browsers, auto on smaller screens */
    .w90 { width: 90px; } /* can't figure out dynamic widths based on link text, so add widths of containers manually.*/
    .w83 { width: 83px; }
    .w76 { width: 76px; }
    .w50 { width: 50px; }
    .w40 { width: 40px; }
}

.flip-item {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #333; BORDER TO TRACK OUT CONTAINER SIZES*/
    transition: transform 0.3s ease-in-out;
    line-height: 1.7rem; /* ! Set line-height equal to the height of the container eg flip-contain */  
}

.flip-item:nth-child(2) {
    transform: translateY(100%);
    color: #9b9b9b;
    font-size: 1rem;
}
.flip-contain:hover .flip-item:nth-child(1) {
    transform: translateY(-100%);
}
.flip-contain:hover .flip-item:nth-child(2) {
transform: translateY(0);
}

/* --------- NAVBAR MEDIA QUERY --------- */
@media only screen and (max-width: 767px) { 
    .flip-contain {
        position: static;
        height: auto;
        overflow: hidden;
        display: block;
    }
    .flip-item:nth-child(2) {
        display: none;
        /* hide all second flip links */
    } 
    .flip-item, .nav-link p {
        /* disable animation, fix margins padding */
        position: static;
        display: flex;
        align-items: center;
        line-height: normal;
        margin: 0;
        border: none;
        transition: none;
    }
    .navbar ul.navbar-nav {
        gap: .9rem;
    }
    #navbarNavDropdown {
        /* background-color: red; */
        background-color: rgba(0, 0, 0, 0.90) !important;
        padding: 2rem 0 4rem 0;
    }
    .mobile-only {
        display: block;
    }
    .mobile-hide {
        display: none;
    }
    .flip-contain:hover .flip-item:nth-child(1) {
        transform: none;
    }
    div.container-fluid {
        padding: 0;
    }
    .navbar-brand {
        height: 86px; /* VERY IMPORTANT TO MAKE THIS SAME AS NAVBAR HEIGHT */
        margin-left: 35px; 
        /* to replace paddings in container-fluid, cancelled out to do 
        background for toggled menu */
    }
    .navbar-toggler {
        margin-right: 25px;
    }
    .navbar-collapse.show {
        width: 100vw;
    }
    .navbar-nav.px-4 {
        padding: 0 !important;
    }
}

/* --------- FOOTER --------- */
.footer-main .flip-item { /* cancel out other styling */
    justify-content: left;
}

.footer-main {
    /* background-color:red; */
    display: flex;
    align-items: center;
    height: 12.5rem;
    padding: 0 6rem 0 6rem;
    margin-top: 6rem;
}
.footer-wrap {
    display: flex;
    width: 100%;
}
/* left */
.bye-message {
    width: 65%;
    padding-right: 3.75rem;
}
.bye-message h3 { font-size: 1.6rem; font-weight: 300;}
.bye-message p { font-size: .8rem; padding-top: 1rem;}
/* right */
.footer-nav {
    /* two columns */
    display: flex;
    gap: 5rem;
    padding-top: 0.3rem;
}
.footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 1.1rem;
}


/* --------- FOOTER MEDIA QUERY --------- */
@media (max-width: 1024px) { /* on desktop/tablet, adjust padding with smaller screens */
    .footer-main {
        padding: 0 4rem 0 3rem;
    }
}
@media only screen and (max-width: 767px) {
    .bye-message h3 { font-size: 1.3rem;}
    .bye-message p { font-size: .7rem;}
    .footer-nav ul {
        gap: 0.8rem;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: 0.9rem;
        padding: 0 !important;
    }
    .bye-message {
        padding-right: 2rem;
    }
    .footer-nav {
        gap: 3rem;
    }
    .footer-wrap {
        justify-content: space-between;
    }
}
@media only screen and (max-width: 576px) {
    .footer-main {
        padding: 0 2rem 0 2rem;
        height: 18rem;
    }
    .footer-wrap { flex-direction: column; }
    .footer-nav {
        gap: 4rem;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: 1rem;
    }
    .bye-message {
        width: 100%;
        padding: 0;
        margin-bottom: 2rem;
    }
    .bye-message h3 {margin-bottom: .4rem;}
    .bye-message p {padding-top: 0;}
}


/* --------- HOME PAGE --------- */
body#home-page {
    background-color: #111;
}


/* --------- CONTACT PAGE --------- */
body#contact-page {
    background-color: #111;
}
.contact-jumbotron {
    width: 100vw;
}

/* --------- ABOUT PAGE --------- */
body#about-page {
    background-color: #111;
}

/* --------- PLAY PAGE --------- */
body#play-page {
    background-color: #111;
}

/* --------- WORK PAGE --------- */
body#work-page {
    background-color: #111;
}